/* =============================================================== */
#ordersA, #productsA {
    border-bottom: 2px solid #ffffff;
    color: rgba(0,0,0,.8);
}
#UsersA {
    border-bottom: 2px solid #00E091;
    color: #00E091;
}

/* ============================ Users Section Styles ============================== */
#users-section {
    padding: 0 8% 4%;
}
#users-details {
    display: flex;
}
#users-table {
    width: 1280px;
    border-collapse: collapse;
}
#users-table th {
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}


.tableRow {
    background-color: #fff;
    border-bottom: 4px solid #F6F7FB;
}
.tableRow td {
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}
.productID, .medicineBrand, .unitPrice, .stock {
    color: #8c8c8c;
}
/* 
.hide {
    display: none;
} */

#search-area {
    margin: 48px 0;
}
#search-area input {
    width: 480px;
    padding: 12px 24px;
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid #8c8c8c;
    margin: 0 36px 0 0;
    outline: none;
}
#search-area button {
    display: inline-block;
    border-radius: 30px;
    padding: 14px 36px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #20b883;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}